@font-face {
    font-family: 'Manrope';
    src: url('fonts/Manrope-ExtraBold.ttf') format('truetype');
}

:root {
    /* Primary colors */
    --light-cyan: 193, 38%, 86%;
    --neon-green: 150, 100%, 66%;

    /* Neutral colors */
    --grayish-blue: 217, 19%, 38%;
    --dark-grayish-blue: 217, 19%, 24%;
    --dark-blue: 218, 23%, 16%;

    /* Typography */
    --fs-quote: 28px;

    /* Spacing (8 point grid system) */
    --spacing-xs: 8px;
    --spacing-sm: 16px;
    --spacing-md: 24px;
    --spacing-lg: 32px;
    --spacing-xl: 40px;
    --spacing-xxl: 48px;

}

/* CSS-reset classes*/
*,
*:before,
*:after {
    box-sizing: border-box;
}

* {
    margin: 0;
    font: inherit;
}

img,
svg {
    display: block;
    max-width: 100%;
}

body {
    font-family: 'Manrope', sans-serif;
    /* Nice way to center elements in a page */
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: hsl(var(--dark-blue));
}

.card {
    position: relative;
    background-color: hsl(var(--dark-grayish-blue));
    text-align: center;
    padding: var(--spacing-xxl) var(--spacing-md);
    border-radius: 16px;
    margin-left: 16px;
    margin-right: 16px;
}



img {
    margin-bottom: var(--spacing-md);
}

.advice {
    font-size: 0.4rem;
    color: hsl(var(--neon-green));
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: var(--spacing-md);
}

.quote {
    color: hsl(var(--light-cyan));
    font-size: 0.8rem;
    margin-bottom: var(--spacing-md);
    font-weight: 800;
}


img[data-svg="mobile"] {
    display: grid;
    align-content: center;
    width: auto;
    height: 16px;
    object-fit: cover;
}


img[data-svg="desktop"] {
    display: none;
}

button {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: none;
    background-color: hsl(var(--neon-green));
    border-radius: 50%;
}

button:hover {
    cursor: pointer;
    box-shadow: 0px 0px 24px 1px hsl(var(--neon-green));
    transition: ease 0.1s;
}



@media (min-width: 376px) {
    .card {
        margin: 0;
        max-width: 550px;
        padding: var(--spacing-xxl);

    }

    .advice {
        font-size: 0.5rem;
    }

    .quote {
        font-size: 1rem;
        margin-bottom: var(--spacing-xl);
    }

    img[data-svg="mobile"] {
        display: none;
    }

    img[data-svg="desktop"] {
        display: grid;
        align-content: center;
        width: auto;
        height: 16px;
        object-fit: cover;

    }

    button {
        transform: translate(-55%, -50%);
    }
}